/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    background: #333;
    font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    .editor, .CodeMirror {
        float:left;
        width:80%;
    }
    .aside {
        color: #ccc;
        float:right;
        width:20%;
        text-align:right;
        text-shadow:1px 1px 0 #333;
    }
        h1, .aside li {
            padding-right:10px;
        }
        h1 {
            font-size:150%;
        }
        .current {
            background: #555;
        }

.toast-container {
	position:fixed;
	text-align: center;
	background-color: #555;
	padding:5px;
	color:#ccc;
    margin-top:10px;
    text-shadow:1px 1px 0 #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 1px 1px #111;
	-moz-box-shadow: 0px 1px 1px 1px #111;
	box-shadow: 0px 1px 1px 1px #111; 
}
